[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-error-reporting = "*"
google-cloud-ndb = "*"
twilio = "*"
sendgrid = "*"
google-cloud-logging = "*"

[dev-packages]

[requires]
python_version = "3.9"
